@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,800;1,400&display=swap');

*{  /* this block of code is when we use any button or something it has prebuild margin and padding sot inorder to remove all and make it from scratch we rite this bloack of code*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: gold;
}